@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,900|Poppins:400,500');
	* {
	  margin: 0;
	  padding: 0;
	  text-decoration: none;
	  box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
	  -webkit-tap-highlight-color:rgba(0,0,0,0);
	  -webkit-text-size-adjust:none;
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
	}
  .button{
  width: 100px;
  height: 40px;
  margin: 3em auto;
  margin-left: 50px;
  /* background-color: rgb(23, 117, 172); */
  background-color: blueviolet;
  color: rgb(255, 255, 255);
  /* color: rgb(212, 205, 205); */
  cursor: pointer;
  border-radius: 10px;
  border: none;
  /* box-shadow: 0 3px 20px -2px rgb(31, 137, 141); */
  box-shadow: 0 3px 20px -2px rgb(143, 44, 146);
  }
  .button:focus{
    background-color: rgb(227, 231, 8);
    color: rgb(0, 0, 0);
    box-shadow: 0 3px 20px -2px rgb(206, 191, 53);
    outline: none;
  }
  #slow.button:hover{
    background-color: rgb(109, 6, 6);
    color: white;
    box-shadow: 0 3px 20px -2px rgb(172, 38, 38);

  }
  #fast.button:hover{
    /* object-fit: contain; */
    background-color: green;
    color: white;
    box-shadow: 0 3px 20px -2px rgb(39, 126, 61);
  }
  .random{
    width: 100px;
    height: 40px;
    margin: 3em auto;
    margin-left: 50px;
    background-color: white;
    color: black;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: 0 3px 20px -2px rgb(31, 137, 141);
    }
    .random:hover{
      background-color:black;
      color: white;
    }
    .sortbutton{
      width: 100px;
      height: 40px;
      margin: 3em auto;
      margin-left: 50px;
      background-color: rgb(23, 117, 172);
      color: rgb(255, 255, 255);
      cursor: pointer;
      border-radius: 10px;
      border: none;
      box-shadow: 0 3px 20px -2px rgb(31, 137, 141);
    }
    .sortbutton:focus{
      background-color: rgb(170, 107, 70);
      color: rgb(255, 255, 255);
      box-shadow: 0 3px 20px -2px rgb(223, 31, 47);
      outline: none;
    }
  .heading{
    padding-top:"20px";
    color:rgb(212, 205, 205);
    text-shadow:  0 5px black;

  }
.App{
  width: 1350px;
  height: 750px;
  background-color: rgb(29, 29, 28);
  margin: 2em auto;
  align-items: center;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  justify-content: center;
  position: relative;
  box-shadow: 0 6px 30px -2px black;

}
.Box{
  width: 1100px;
  height: 500px;
  background-color: rgb(35, 35, 36);
  margin: 2em auto;
  /* padding-top: 58px;
  padding-left: 20px;
  padding-right: 20px; */
  /* flex-wrap: nowrap; */
  border-radius: 10px;
  color: #ddd;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  box-shadow: 0 3px 30px -2px rgb(250, 250, 250);
}
.bar{
  background-color: #f5aa3b;
  box-shadow: 0 3px 30px -2px rgb(216, 170, 72);
  color:white;
  margin: 0 6px;
  width: 9px;
  /* transform: rotate(0deg) scaleX(1); */
  /* vertical-align:bottom; */
  display: inline-block;
  /* box-shadow: 0 3px 20px -2px rgb(31, 137, 141);
  background-color: turquoise; */
}
body{
    margin: 0;
    padding: 0;
    background-color: rgb(20, 20, 20);
    height: 95vh;
    margin: auto;
	  align-items: center;
	  display: -webkit-box;
	  display: -ms-flexbox;
	  justify-content: center;
    overflow: auto;
}
.text{
  background-color: #121116;
  padding: 10px;
  border-radius: 5px;
  color: #ddd;
  margin-left: 30px;
}
.range{
  margin-left: 20px;
}
input[type="range"]{
  color: #ddd;
}
.title{
  display: -webkit-box;
  display: -ms-flexbox;
  justify-content: center;
  margin: auto;
	align-items: center;
}
